
rect {
    stroke: none;
    fill: #4682b4;
    transition: fill .3s;
}
rect:nth-child(even) {
    fill: #3f75a2
}
rect:hover {
    cursor: pointer;
    fill: #add8e6;
    transition: fill .3s
}
rect.science-chart {
    fill: #2e8b57;
}
rect.science-chart:hover {
    fill: #6dae89
}
rect.violence-chart {
    fill: #dc143c;
}
rect.violence-chart:hover {
    fill: #e65b77
}
rect.misogyny-chart {
    fill: #ff69b4;
}
rect.misogyny-chart:hover {
    fill: #ff96ca
}
rect.homosexual-chart {
    fill: #9400d3;
}
rect.homosexual-chart:hover {
    fill: #b44de0
}
rect.nt {
    opacity: .5
}
rect.selected {
    fill: #fff
}


.arc path {
    stroke: #dc143c;
    stroke-width: 1;
    fill: none
}
.arc:hover path {
    cursor: pointer;
    stroke: #ffc0cb !important
}
.filters {
    position: absolute;
    opacity: .5;
}
.filters label {
    display: inline-block;
    width: 60px
}
.filters select {
    display: inline-block;
    position: relative;
    width: 120px;
    bottom: 2px;
    margin-bottom: 4px
}
.axis,
.axis path,
.axis line {
    fill: none;
    stroke: #262626;
    shape-rendering: crispEdges
}
.axis text {
    fill: #555;
    stroke: none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 7pt;
    shape-rendering: crispEdges
}

.subdued {
    opacity: .5
}
.block {
    float: left;
    background: rgba(255, 255, 255, 0.1);
    width: 252px;
    padding: 12px;
    margin: 12px;
    border-radius: 7px;
    border-bottom: 2px solid #808080
}

#container,
.container {
    width: 1200px;
    margin: auto
}


#footer,
.footer {
    text-align: center;
    opacity: .4
}

#selected {
    position: fixed;
    top: 400px;
    right: 100px;
    width: 600px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 7px;
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

#chart {
    display: block;
    margin: auto;
}
